.about {
    padding: rem(30) rem(20);

    background: $grey-90;

    font-size: rem(24);
    line-height: 1.6;
    text-align: center;
}

.about__text {
    margin: 0;

    @include media-query(480px) {
        max-width: 800px;
        margin: 0 auto;
    }
}

.about__link {
    background: rgba($light-yellow, 0.5);
    padding: 0 rem(2);

    color: inherit;
    text-decoration: none;

    .touch & {
        padding: rem(2) rem(4);
    }
}
